.pic {
  margin: 50px;
  width: 400px;
  height: 600px;
}

.pic > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.size {
  font-size: 10px;
}

.color {
  color: red;
}

.spc {
  color: grey;
  text-decoration: line-through;
}

.ori {
  margin-top: 5px;
  font-weight: 600;
  color: #dc3e42;
}

.rocket {
  font-style: Times new Roman;
  margin-top: 15px;
  font-size: 15px;
}

.arr {
  margin-top: 10px;
  color: green;
  font-size: 15px;
}

div > button {
  background-color: white;
  border-radius: 15px;
  border: 1px solid #e6e6e6;
  margin-top: 20px;
}
